.header{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.logo{
width: 100px;
}
.nav-items > ul{
display: flex;
list-style: none;
padding: 0 20px;
font-size: 24px;
}
.nav-items > ul >li{
  padding: 10px;
  margin: 10px;
}
.card-items{
  width: 200px;
  min-height: 250px;
  background: #f0f0f0;
  padding: 5px;
  cursor: pointer;
  margin: 12px;

}
.card-items:hover{
  border:2px solid grey
}
.search{
  padding: 20px;
}
.img{
  width: 200px;
}
.res-container{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
